$primary-color: #7e5aa1;

ul {
    margin-top: 20px;

    li {
        margin-bottom: 15px;

        p:first-child {
            margin-bottom: 5px;
        }

        p:last-child {
            font-size: 0.6rem;
            color: $primary-color;
        }

        span {
            color: $primary-color;
        }
    }
}